<footer>
	<div class="container">
		<div class="row">
			<div class="col-lg-12 text-center">
				<p>Copyright &copy; Your Website 2016</p>
				<p> Developed By: <%= link_to 'SHAHID', 'https://github.com/shahidbscs', :target => '_blank' %> </p>
			</div>
		</div>
	</div>
</footer>